/* Body
-------------------------------------------------------------- */
html,
body {
    font-size: 15px;
}

input, .input-title {
    font-size: 15px;
    width: 7em;
    box-sizing: border-box;
    display: inline-block;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
